
.titled-pane > .title {

    -fx-background-color: transparent;

}

.titled-pane {

    -fx-text-fill: white;
}

.titled-pane > .content {
    -fx-border-color: #2e3844;
}

.separator .line {
    -fx-border-color: #727e91;
    -fx-border-width: 2px;
    -fx-border-radius: 10 10 10 10;
}

#middleSeparator .line {
    -fx-border-color: #727e91;
}

.list-cell {
    -fx-background-color: #2e3844;
    -fx-text-fill: white;
}

.list-view .scroll-bar:vertical {
    -fx-scale-y: 0;
}






